<main class="index">
  <header class="masthead ">
    <div class="text-center justify-center items-center">
      <h1 class="font-semibold py-5 px-5 rounded-mb ">Falcons todo list</h1>
      <h3 class="font-semibold py-5 px-5rounded-mb">
        <em>Save yours tasks</em>
      </h3>
      <a href="/signin" class="font-semibold border-2 border-white hover:bg-indigo-400 hover:text-neutral-700 py-3 px-4 rounded-mb">Let's get Started</a>
    </div>
  </header>
</main>