<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Falcons tasks </title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <!-- Tailwind CSS Link -->
  <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
   <script src="https://kit.fontawesome.com/d6b43a7526.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  {{> navigation}}


  {{{body}}}
</body>
</html>